@CHARSET "UTF-8";

body {
  overflow-y: scroll;
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, tahoma, arial,
    simsun, 宋体;
  padding-top: 42px;
  background-image: url(../img/bg1.png);
  background-color: #3D3D3D;
}

.wrapper {
  width: 890px;
  position: relative;
  margin: 0 auto;
}

.dashboard-left {
  float: left;
  width: 280px;
  margin-right: 20px;
}

.main-content {
  float: left;
  width: 590px;
  margin: 0;
}

.dashboard-right {
  float: left;
  display: none;
}

@media ( max-width : 992px) {
  .wrapper {
    width: 590px;
  }
  .dashboard-left {
    display: none;
  }
}

@media ( max-width : 600px) {
  .wrapper {
    width: 100%;
  }
  .main-content {
    width: 100%;
  }
  body {
    padding-top: 0px;
  }
}

@media ( min-width : 1036px) {
  .wrapper {
    width: 1000px;
  }
  .dashboard-right {
    display: block;
    width: 110px;
  }
}

@media ( min-width : 1290px) {
  .wrapper {
    width: 1100px;
  }
  .dashboard-right {
    display: block;
    width: 210px;
  }
}

.face-img {
  margin-bottom: 20px;
  width: 280px;
  height: 186px;
  background-image: url(../img/f11.jpg);
}

.face-text {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
  background-color: transparent;
  color: gray;
  padding-left: 65px;
  padding-bottom: 5px;
  font-size: 26px;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.face-text span {
  padding-right: 8px;
}

#tagPanel {
  min-height: 100px;
  padding-left: 0px;
  background-color: #474747;
  border: 0px;
  border-radius: 4px;
}

#tagPanel .tag {
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
  line-height: 25px;
  padding: 0 10px;
}

#tagPanel .tag:hover {
  cursor: pointer;
  background-color: #B7B7B7;
}

#newPostItem  .placeholder {
  padding: 10px 15px;
  font-style: italic;
  letter-spacing: 2px;
  color: #999;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
}

.post-box {
  font-size: 14px;
  min-height: 120px;
  letter-spacing: 1px;
  outline: 0;
  overflow: auto;
  word-wrap: break-word;
}

#newPostItem .post-box{
  min-height:260px;
}

.post-box.film-box {
  
}

#newPostItem .toolbar-wrapper{
  position: relative;
  border-top: 1px solid #e1e1e1;
}

#newPostItem .toolbar {
  /* border-top: 1px solid #e1e1e1; */
  padding-top: 10px;
  padding-bottom: 6px;
  
  position: absolute;
  bottom: 0px;
  right: 10px;
}

#newPostItem  .toolbar:after {
    clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ' ';
}

#createPostBtn {
  float: right;
  padding-left: 20px;
  padding-right: 16px;
  letter-spacing: 4px;
  border-radius: 2px;
}

#cancelPostBtn{
  float: right;
  margin-right: 18px;  
  letter-spacing: 2px;
  border-radius: 2px;
  /* background-color:#E6E6E6; */
}

#cancelPostBtn:hover{
  /* background-color:white; */
}


.post-item {
  border-bottom: 1px solid #e0e0e0;
}

.post-info {
  padding: 0px 15px 10px 15px;
}

.post-info:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ' ';
}

.post-info span {
  margin-right: 25px;
  font-size: 12px;
  color: #90939a;
  float: right;
  cursor: pointer;
}
.post-info span.updatedDate{
  cursor:auto;
}

.post-info span:hover {
  color: #707276;
}

.post-info .more{
  letter-spacing:3px;
}

.sort-asc {
  position: relative;
}

.comment-arrow {
  position: absolute;
  color: #F5F8FA;
  font-size: 32px;
  top: -12px;
  left: 25px;
}
.comment-info{
  background-color: #F5F8FA;
}
.comment-item {
  border-bottom: 1px solid #e1e8ed;
}

.comment-box {
    font-size: 14px;
  letter-spacing: 1px;
  outline: 0;
  overflow: auto;
  word-wrap: break-word;
}


.new-comment-item .placeholder {
  padding: 15px;
  outline: none;
  border: 0px;
  cursor: pointer;
  border-bottom: 1px solid #e1e8ed;
}

.new-comment-item .comment-box {
  outline: none;
}

.new-comment-item .toolbar {
  padding-top: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid #e1e8ed;
}

.new-comment-item .toolbar:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ' ';
}

.new-comment-item .create-comment-btn {
  float: right;
  margin-right: 28px;
  padding-left: 20px;
  padding-right: 16px;
  letter-spacing: 4px;
  border-radius: 2px;
}

.new-comment-item .cancel-comment-btn{
  float: right;
  margin-right: 18px;  
  letter-spacing: 2px;
  border-radius: 2px;
  background-color: #F2E7E7;
}

.comment-item .comment-box{
  cursor:pointer;
}

.comment-item .comment-date{
  padding: 0px 15px 10px 15px;
}
.comment-date span{
    margin-right: 15px;
  font-size: 12px;
  color: #90939a;
  float: right;
}

.comment-date .delete-comment{
  cursor: pointer;
}

.comment-item .comment-date:after{
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ' ';
}




/* adjust for ckeditor */
pre{
  padding:0px;
  border:0px;
  border-radius: 0px;
}
.cke_combo_text{
  width:36px !important;
  padding-left:0px !important;
}
.cke{
  border:0px !important;
  box-shadow: none !important;
}
.cke_top{
  border-top: 0px solid #efeeee !important;
  border-bottom:0px !important;
}

.post-item span.cke_reset.cke_widget_drag_handler_container{
  display:none;
}

/* end of adjust for ckeditor */

.top-radius {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.bottom-radius {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.radius {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.opacity01 {
  opacity: 0.1;
}

.padding15{
  padding: 15px;
}

.padding-v-15{
  padding:15px 0px;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.fg-white {
  color: white;
}

.r-float{
  float:right;
}

.l-float{
  float:left;
}

